body{
    background-color: blue;
}
#myclockcontainer{
    position: relative;
    /* border: 2px solid red; */
    width: 40vw;
    height: 40vw;
    /* width: 400px;
    height: 400px; */
    margin: auto;
    background: url('clock new.png') no-repeat;
    background-size: 100%;

}
#hour, #minute, #second{
    position: absolute;
    background-color: black;
    border-radius: 10px;
    transform-origin: bottom;
    
}

#hour{
    width: 2%;
    height: 20%;
    top: 30%;
    left: 48.8%;
    opacity: 0.8;
    /* display: none; */
     
   
    
}
#minute{
    width: 1.34%;
    height: 28%;
    top: 22%;
    left: 49.1%;
    opacity: 0.8;
    
   
    
}
#second{
    width: 1%;
    height: 32%;
    top: 18%;
    left: 49.1%;
    opacity: 0.8;
    /* display: none; */
    
    
  
}